@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Aplicamos el color de fondo principal */
    background-color: #FAF8F3;
    /* Aplicamos el color de texto principal */
    color: #4B4B4B;
  }
}